<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Пользователь</title>
    <link rel="stylesheet" href="style_control.css">
</head>
<body>
    <div class="header">
        <div class="inside">
            <div class="welcome">
                Добро пожаловать, UserName!
            </div>
            <div class="exit">
                <a href="#">на главную</a>
            </div>
            <div class="image">

            </div>
            <div class="options">
                <a href="#">Профиль</a><br>
                <a href="#">Товары</a><br>
                <a href="#">Добавить новый товар</a><br>
            </div>

        </div>
    </div>
    <div class="main">
        <div class="inside">


        </div>
    </div>
    <div class="footer">
        <div class="inside">
            &#169 2018 ToysShop - Все права защищены
        </div>
    </div>
</body>

</html>
