{% extends 'master.html' %}

{% block page_title %}
    мягкая игрушка
{% endblock %}

{% block page_content %}
    {% for itm in category %}
    <div class="blockHeader">{{ itm.name }}</div>
    {% for item in product %}
    {% if itm.id == item.category_id %}
    <div class="block">
        <a href="good{{ item.id }}">
            <img src="/media/{{ item.image }}">
            <div class="nameToys">{{ item.name }}</div>
            <div class="price">&#8381; {{ item.cost }}</div>
        </a>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
{% endblock %}
